.container {
    width: 100%;
    height: 40vh;
    background-color: rgb(95, 95, 95);
    display: flex;
    padding: 3rem 9%;
    justify-content: space-between;
    gap: 3rem;
}
.logo {
    cursor: pointer;
}
.footerHead {
    margin-top: 1rem;
    color: white;
    font-size: 2rem;
    letter-spacing: 1.8px;
    margin-bottom: 1.5rem;
}
.footer1 {
    flex: 1;
}
.footer2 {
    flex: 1;
}
.footer3 {
    flex: 1;
}
.footer4 {
    flex: 1;
}
.footerDesc {
    font-size: 1.4rem;
    color: rgb(196, 195, 195);
}
.uList {
    list-style: none;
}
.list {
    color: rgb(196, 195, 195);
    font-size: 1.6rem;
    line-height: 2;
}
.list:hover {
    text-decoration: underline;
}
.info {
    color: rgb(196, 195, 195);
    font-size: 1.6rem;
    line-height: 2;
}
.address {
    margin-top: 2rem;
}
.footerCopyright {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 55, 55);
    padding: 1.5rem 0;
    font-size: 1.4rem;
}
.socials {
    margin-top: 2rem;
}
.icon {
    font-size: 1.8rem;
    color: white;
    margin-right: 2rem;
    cursor: pointer;
}
@media screen and (max-width:768px) {
   .container {
    flex-direction: column;
    height: fit-content;
    text-align: center;
 }
   
 }