.portfolioList {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;

   
}
.portfolioList.active {
    background-color: #f47920;
    color: white;
}