.portfolioList {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;

   
}
.portfolioList.active {
    background-color: #f47920;
    color: white;
}
@media screen and (max-width:600px) {
    .portfolioList {
        font-size: 10px;
        margin-right: 15px;
       }
}
@media screen and (max-width:768px) {
   .portfolioList {
    font-size: 10px;
    margin-right: 25px;
   }
}